*{
	margin: 0;
	padding: 0;
}
.container{
	background-color: #eee;
	margin: 20px;
	border: 2px solid #999;
	padding: 20px;
	display: flex;
}
.left{
	width: 156px;
	height: 80px;
	border: 2px solid #999;
	padding: 20px;
}
.left span{
	position: absolute;
	margin-top: 0;
	margin-left: 20px;
}
.middle{
	flex: 1;	
}
.middle .content{
	border: 2px solid #999;
	padding: 20px;
	margin: 0 20px 0 20px;
}
.middle p{
	margin-bottom: 10px;
}
.right{
	border: 2px solid #999;
	width: 76px;
	padding: 20px;
}
.right img:not(:first-child){
	margin-top: 20px;
} 